## 30918_황성대_0314_6

# 3.1 데이터를 저장하는 공간 : 변수
## 3.1.1 변수란

In [2]:
a = 10;

In [3]:
a = 20

In [4]:
print(a)

20

## 3.1.2 변수에 값을 저장하고 사용하기

In [5]:
a = 10
print('a')
print(a)

a
10

In [7]:
print("가나다")

가나다

In [8]:
가나다 = 10
print(가나다)

10

In [10]:
b='성일'
c = "정보"
print(b+c)
print(b,c)

성일정보
성일 정보

In [20]:
name = "유리"
height = "175.5"
age = "21"
hobby = 'programming'
print(name, height, age, hobby)

유리 175.5 21 programming

```
유리 키는 175.5 , 나이는 21 , 취미는 programming 입니다!
```

In [23]:
print(name +" 키는 "+ height +", 나이는 "+ age +", 취미는 "+ hobby +" 입니다!")

유리 키는 175.5, 나이는 21, 취미는 programming 입니다!

In [27]:
print(name,"키는",height,"나이는",age," ,취미는", hobby, ", 입니다!")

유리 키는 175.5 나이는 21  ,취미는 programming , 입니다!

```
제임스 키는 186 , 나이는 24 , 취미는 요리하기 입니다!
```

In [28]:
name = "제임스"
height = 186
age = 24
hobby = "요리하기"
print(name, ", 키는", height, ", 취미는", hobby, "입니다!")

제임스 , 키는 186 , 취미는 요리하기 입니다!

In [29]:
print("{} 키는 {}, 나이는 {}, 취미는 {}, 입니다!".format(name, height, age, hobby))

제임스 키는 186, 나이는 24, 취미는 요리하기, 입니다!

In [31]:
print(f'{name} 키는 {height}, 나이는 {age}, 취미는 {hobby}입니다.')

제임스 키는 186, 나이는 24, 취미는 요리하기입니다.

>원의 넓이를 구해봅시다.
```
공식 : 파이 * 반지름 ** 2
p = 3.141592
r = 5
```

In [35]:
p = 3.141592
r = 5
result = p*r**2
print("원의 넓이는", p*r**2, "입니다" )
print("원의 넓이 = ", result)

원의 넓이는 78.5398 입니다
원의 넓이 =  78.5398