# 30918_황성대_0819_2

In [3]:
import pandas as pd
df = pd.DataFrame({"제품" : ["사과", "딸기", "수박"],
               "가격" : [1800, 1500, 3000],
               "판매량" : [24, 38, 13]})
df

   제품    가격  판매량
0  사과  1800   24
1  딸기  1500   38
2  수박  3000   13

In [10]:
# 가격의 평균
# 판매량의 평균 출력하기

print("가격의 평균", sum(df["가격"])/len(df)) # len(df) = 3
print("판매량의 평균", sum(df["판매량"])/len(df))

가격의 평균 2100.0
판매량의 평균 25.0

In [7]:
x = [1,2,3,4,5]
x

[1, 2, 3, 4, 5]

In [8]:
len(x)

5

In [9]:
len(df)

3

In [12]:
df_exam_novar = pd.read_excel("excel_exam_novar.xlsx", header = None) # 머리글이 없을때 옵션 header = none
df_exam_novar

   0  1   2   3   4
0  1  1  50  98  50
1  2  1  60  97  60
2  3  2  25  80  65
3  4  2  50  89  98
4  5  3  20  98  15
5  6  3  50  98  45
6  7  4  46  98  65
7  8  4  48  87  12

# 엑셀 파일에 시트가 여러 개 있다면?

In [13]:
# sheet2 시트의 데이터 불러오기
df_exam = pd.read_excel("excel_exam_novar.xlsx", sheet_name = "Sheet2")

# 세 번째 시트의 데이터 불러오기
df_exam = pd.read_excel("excel_exam_novar.xlsx", sheet_name=2)

ValueError: Worksheet named 'Sheet2' not found