# 30918_황성대_1029_4

# 1203 : 비만도 측정 0
```
비만을 판단하기 위해서 BMI 수치가 필요하다.

BMI 수치가 입력되면 비만을 판단하시오.

* BMI에 따른 비만 판정

BMI 수치	비만 판정
~10 이하	정상
~20 이하	과체중
20 초과	비만
```

In [2]:
n = int(input())

if n <= 10 :
    print('정상')
elif n <= 20 : 
    print('과체중')
elif n > 20 :
    print('비만')

21
비만

# 1204 : 영어 서수로 표현하기

영어로 서수를 표현할 때 다음과 같이 나타낸다.

1st  2nd  3rd  4th  5th  6th  ... 10th

11th 12th 13th 14th 15th  ...  20th

21st 22nd 23rd 24th 25th  ...  30th

31st 32nd 33rd 34th 35th  ...  40th

41st 42nd 43rd 44th 45th  ...  50th

...

91st 92nd 93rd 94th 95th  ...  99th

 

1~99 중 하나가 숫자가 입력되면 영어 서수 표현을 출력하시오.

In [8]:
n = int(input())

if n == 1  or n==21 or n==31 or n==41 or n==51 or n==61 or n==71 or n==81 or n == 91:
    print(f'{n}st')
elif n == 2  or n==22 or n==32 or n==42 or n==52 or n==62 or n==72 or n==82 or n == 92:
    print(f'{n}nd')
elif n == 3 or n==23 or n==33 or n==43 or n==53 or n==63 or n==73 or n==83 or n == 93:
    print(f'{n}rd')
else :
    print(f'{n}th')

33
33rd

# 1205 : 최댓값

두 실수 a, b가 입력되면 그 두수를 더하거나 빼거나 곱하거나 나누거나 제곱을 해서 가장 큰 수를 출력하시오.

예를 들어 1과 2가 입력되면,

1+2 = 3   , 2+1 = 3

1 - 2 = -1,   2 - 1 = 1

1 * 2 = 2,    2 * 1 = 2

1 / 2 = 0.5,   2 / 1 = 2

12=1 ,   21 = 2

따라서 최댓값은 3이다.

In [16]:
a, b = map(float, input().split())

list = [a+b, a-b, a*b, a/b, a**b, b-a, b*a, b/a, b**a]

max_num = "%.6f" % max(list)

print(max_num)

1 2
3.000000